Kurs WWW/Lista5/Zadanie1/Zadanie1Schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="formularz">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accountNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{26}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="pesel">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{11}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="birthDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([0-2][0-9]|(3)[0-1])(\/|\.)(((0)[0-9])|((1)[0-2]))(\/|\.)[0-9]{4}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="email">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\S+@\S+\.\S+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>